{% extends "index.html" %}
{% block content %}
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="main_form" method="post" novalidate>
                      {{ form.hidden_tag() }}
                        <div class="row">

                            <div class="col-md-12">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                <div class="alert alert-danger">
                                    <h2>{{ message }}</h2>
                                </div>
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-md-12">
                                <label><h2>Email</h2></label>
                                  {{ form.inputEmail.label(class="sr-only") }}
                                  {{ form.inputEmail(class="form-control", placeholder="Your Email") }}
                                  {% if form.inputEmail.errors %}
                                    {% for error in form.inputEmail.errors %}
                                    <label>{{ error }}</label>
                                    {% endfor %}
                                  {% endif %}
                            </div>
                            <div class="col-md-12">
                                <label><h2>Password</h2></label>
                              {{ form.inputPassword.label(class="sr-only") }}
                              {{ form.inputPassword(class="form-control", placeholder="Your password") }}
                              {% if form.inputPassword.errors %}
                                {% for error in form.inputPassword.errors %}
                                    <label>{{ error }}</label>
                                {% endfor %}
                              {% endif %}
                            </div>
                            <div class=" col-md-12">
                                {{ form.submit(class="send") }}
                            </div>
                            <div class=" col-md-12">
                                <h4><a href="signup">You don't have an account? Create one</a></h4>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}